<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择地图</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <section id="content">
        <el-form refs="form"  :model="form">
            <el-input style="width: 158px;" size="mini" v-model="form.startLngLat" placeholder="起点坐标"></el-input>
            <el-input style="width: 158px;" size="mini" v-model="form.endLngLat" placeholder="终点坐标"></el-input>
            <el-button size="mini" type="primary" v-on:click="onUpdateClick">更新</el-button>
            <el-button size="mini" type="danger" v-on:click="removeMarker" :disabled="!curSelectMarker">删除标记</el-button>
        </el-form>
        <div class="map">
            <div id="allmap"></div>
        </div>
        <div class="line-points-box">
            <div class="start-end-point">
                <span class="omitting" :title="form.startLngLat">
                    <span style="color: #666;">起点坐标：</span>
                    {{ markers && markers.length > 0 ? markers[0].getPosition().lng + "," + markers[0].getPosition().lat : "" }}
                </span>
                <span class="omitting" :title="form.endLngLat">
                    <span style="color: #666;">终点坐标：</span>
                    {{ markers && markers.length > 1 ? markers[markers.length - 1].getPosition().lng + "," + markers[markers.length - 1].getPosition().lat : "" }}
                </span>
            </div>
            <div class="middle-point">
                <span class="omitting" v-for="(item, idx) in markers" v-if="idx !== 0 && idx !== markers.length - 1">
                    <span style="color: #666;">途经点坐标：</span>
                    {{ item.getPosition().lng }},{{ item.getPosition().lat }}
                </span>
            </div>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" type="primary" v-on:click="onSaveBtnClick">保存</el-button>
            <el-button size="mini" v-on:click="onCancleBtnClick">取消</el-button>
        </div>
    </section>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=iQp9q9dyT2n8RaQc3WcY1mDL7R2CLzs5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./index.js"></script>
</body>
</html>